extends ../layouts/default

include ../mixins/item

block intro
	.container
		h1= 'Items'

block content
	.container
		if items.length
			each item in items
				+item(item)
		else
			h3.text-muted There are no items yet.
